@charset "UTF-8";
:root {
  --button-color: #2196f3;
  --headline-color: #212121;
  --text-color: #757575;
  --main-cl: #ffffff;
  --section-bg-cl: #2f303a;
  --bcg-btn-cl: #f5f4fa;
  /* Анімація */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--main-cl);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    margin-left: 88px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header-container {
    max-height: 60px;
    max-width: 480px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .header-group {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-group {
    display: block;
  }
}

.nav-link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .nav-link-logo {
    font-size: 24px;
    line-height: 1.16;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-link-logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.nav-logo {
  color: var(--button-color);
}

.nav-logocolor {
  color: #000;
}

.nav-link {
  color: var(--headline-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.nav-link:hover, .nav-link:focus {
  color: var(--button-color);
}

.current {
  color: var(--button-color);
}

.current-item {
  position: relative;
}

.nav-link-current::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -1.5px;
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  border-radius: 2px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--text-color);
  -webkit-transition: color var(--animation), fill var(--animation);
  transition: color var(--animation), fill var(--animation);
}
.contact:hover, .contact:focus {
  color: var(--button-color);
  fill: var(--button-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-mail {
    margin-bottom: 10px;
  }
}

.menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  width: 100%;
  height: 100%;
  background-color: var(--main-cl);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-close:hover, .menu-close:focus {
  fill: var(--button-color);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.link-navi {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--headline-color);
  margin-bottom: 32px;
}
.link-navi:hover, .link-navi:focus {
  color: var(--button-color);
}

.cont {
  margin-bottom: 0;
}

.link-phone {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--button-color);
  margin-bottom: 32px;
}

.link-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 64px;
}

.mobile-menu-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--button-color);
}
.link-social::after {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 22px;
  height: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: rgba(33, 33, 33, 0.2);
}

.link-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--button-color);
}

.hero-section {
  padding-bottom: 0;
  padding-top: 0;
}

.overlay {
  background-color: var(--section-bg-cl);
}
@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-img/large@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img/large@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcg-img/large@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-img/large@2x.jpg");
  }
}
@media screen and (max-width: 1199px) {
  .overlay {
    max-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-img/md@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img/md@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcg-img/md@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-img/md@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .overlay {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-img/sm@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img/sm@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcg-img/sm@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-img/sm@2x.jpg");
  }
}

.hero-title {
  color: var(--main-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
    width: 100%;
  }
}

.button-order {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: var(--main-cl);
  background-color: var(--button-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 216px;
  height: 50px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.button-order:hover, .button-order:focus {
  background-color: #188ce8;
}

.about__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--bcg-btn-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about__item {
    max-width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: 270px;
  }
}

.about__title {
  margin-bottom: 10px;
  color: var(--headline-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .about__title {
    text-align: center;
  }
}

.about__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  color: var(--headline-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.card-thumb {
  position: relative;
}

.card-thumb__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--main-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  color: var(--headline-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__name-title {
  color: var(--headline-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-cl);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--button-color);
}

.team__social-icon {
  fill: #afb1b8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.team__social-link:hover .team__social-icon, .team__social-link:focus .team__social-icon,
.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--main-cl);
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-cl);
}
@media screen and (max-width: 767px) {
  .team__item {
    max-width: 450px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .team__our-teammate {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team__our-teammate {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

.our-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .our-clients__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .our-clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.our-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.our-clients__link:hover, .our-clients__link:focus {
  border: 1px solid var(--button-color);
}
@media screen and (max-width: 767px) {
  .our-clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-clients__link {
    width: 226px;
  }
}

.our-clients__link:hover .our-clients__logo, .our-clients__link:focus .our-clients__logo,
.our-clients__link:hover .our-clients__logo,
.our-clients__link:focus .our-clients__logo {
  fill: var(--button-color);
}

.our-clients__logo {
  fill: #afb1b8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

@media screen and (max-width: 1199px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .adress-footer {
    margin-right: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-footer {
    margin-right: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .adress-footer {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .footer-logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.footer-logo-color {
  color: var(--button-color);
}

.footer-logocolor {
  color: var(--main-cl);
}

.address {
  margin-top: 20px;
}

.adress-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.adress-list .adress-item {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .adress-list .adress-item {
    margin-bottom: 8px;
  }
}

.adress-list .adress-item:last-child {
  margin: 0;
}

.footer-map-contact {
  color: var(--main-cl);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer-map-contact:hover, .footer-map-contact:focus {
  color: var(--button-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer-contact:hover, .footer-contact:focus {
  color: var(--button-color);
}

@media screen and (max-width: 767px) {
  .our-social-links {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-social-links {
    text-align: center;
    margin-left: auto;
  }
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-icon-footer {
  fill: var(--main-cl);
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: var(--button-color);
}

.join-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-cl);
  margin-bottom: 20px;
}

.tg-input-form {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .tg-input {
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .tg-input {
    text-align: center;
    width: 100%;
  }
}

.come-in {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-cl);
  margin-bottom: 20px;
}

.footer-input {
  height: 50px;
  background-color: #2f303a;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
    width: 358px;
  }
}

.form-field {
  width: 100%;
}
.form-field input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tg-btn {
  position: relative;
  width: 200px;
  height: 50px;
  color: var(--main-cl);
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  text-align: start;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  cursor: pointer;
  gap: 10px;
}
@media screen and (max-width: 1199px) {
  .tg-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.tg-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms, visibility 300ms;
  transition: opacity 500ms, visibility 300ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (max-width: 1199px) {
  .modal-window {
    max-width: 450px;
    max-height: 609px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-cl);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--button-color);
}

.modal-field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.modal-text-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--headline-color);
}
@media screen and (max-width: 1199px) {
  .modal-text-title {
    line-height: 1.5;
  }
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: transparent;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}
.textarea:hover, .textarea:focus {
  border: 1px solid var(--button-color);
}

.textarea:not(:-moz-placeholder-shown) {
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

.textarea:not(:-ms-input-placeholder) {
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

.textarea:not(:placeholder-shown) {
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

textarea[placeholder] {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

.modal-text-name {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.license-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--button-color);
}
@media screen and (max-width: 1199px) {
  .license-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.license-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 8px;
  margin-right: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 1199px) {
  .license-text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.chek-modal-btn {
  width: 200px;
  height: 50px;
  background-color: var(--button-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-cl);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.chek-modal-btn:hover, .chek-modal-btn:focus {
  background-color: #188ce8;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.user-contact-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 0 0 0 42px;
  outline: transparent;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}
.user-contact-input:hover, .user-contact-input:focus {
  border: 1px solid var(--button-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-icon {
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.user-contact-input:focus + .modal-icon, .user-contact-input:hover + .modal-icon,
.user-contact-input:focus + .modal-icon,
.user-contact-input:hover + .modal-icon {
  fill: var(--button-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .checkbox {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.cheked {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.chekbox-input:checked + .form-chek .cheked {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.radio-button {
  font-family: inherit;
  color: var(--headline-color);
  background-color: var(--bcg-btn-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  -webkit-transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.radio-button:hover, .radio-button:focus {
  color: var(--main-cl);
  background-color: var(--button-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.radio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .radio-buttons {
    max-width: 360px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
    margin-bottom: 40px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.box-item:hover, .box-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-title {
  color: var(--headline-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.box-name {
  text-align: left;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.border-item {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio-container {
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (max-width: 767px) {
  .portfolio-container {
    padding-top: 60px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.portfolio-item:hover .thumb-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .portfolio-item {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
    height: auto;
  }
}
@media screen and (min-width: 1199px) {
  .portfolio-item {
    width: 370px;
    height: auto;
  }
}

.thumb-text-p {
  color: var(--main-cl);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */