.about__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--bcg-btn-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.about__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.about__title {
  margin-bottom: 10px;
  color: var(--headline-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.about__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
