.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 300ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  @media screen and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-cl);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--animation);

  &:hover,
  &:focus {
    fill: var(--button-color);
  }
}

.modal-field {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.modal-text-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--headline-color);

  @media screen and (max-width: 1199px) {
    line-height: 1.5;
  }
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: transparent;
  transition: border var(--animation);

  &:hover,
  &:focus {
    border: 1px solid var(--button-color);
  }
}

.textarea {
  &:not(:placeholder-shown) {
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: 0.03em;
    color: var(--headline-color);
  }
}

textarea {
  &[placeholder] {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    margin-bottom: 20px;
  }
}

.modal-text-name {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.license-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--button-color);

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.license-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 8px;
  margin-right: 8px;
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chek-modal-btn {
  width: 200px;
  height: 50px;
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-cl);
  display: block;
  margin: 0 auto;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.user-contact-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;

  padding: 0 0 0 42px;
  outline: transparent;
  transition: border var(--animation);

  &:hover,
  &:focus {
    border: 1px solid var(--button-color);
  }
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-icon {
  transition: fill var(--animation);
}

.user-contact-input,
.user-contact-input {
  &:focus + .modal-icon,
  &:hover + .modal-icon {
    fill: var(--button-color);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    justify-content: left;
  }
}

.cheked {
  opacity: 0;
  transition: opacity var(--animation);
}

.chekbox-input {
  &:checked + .form-chek .cheked {
    opacity: 1;
  }
}
