.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  padding-top: 0;
}

.work__title {
  color: var(--headline-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  gap: 30px;
}

.card-thumb {
  position: relative;
}

.card-thumb__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--main-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
